<section class="container mt-4 mb-4">
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="widget stacked widget-table action-table">

          <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3>Liste des commandes</h3>
          </div> <!-- /widget-header -->

          <div class="widget-content">

            <table class="table table-striped table-bordered" >
              <thead>
                <tr>
                  <th>Session</th>
                  <th>Date commande</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody *ngFor="let c of allCommandes">
                <tr>
                  <td>{{c.sessionId}}</td>
                  <td>{{ dateObj | date}}</td>
                  <td *ngIf="c.status == true">Payé</td>
                  <td *ngIf="c.status == false">Non payé</td>
                </tr>
     
              </tbody>
            </table>

          </div> <!-- /widget-content -->

        </div> <!-- /widget -->
      </div>
    </div>
  </div>


</section>

