<div class="container h-100">
    <div class="d-flex justify-content-center">
      <div class="card mt-5 col-md-4 animated bounceInDown myForm">
        <div class="card-header">
          <h4>Ajouter commande</h4>
        </div><form>
        <div class="card-body">
          
                <div class="form-group">
              
                <input type="date" placeholder="Date Commande" class="form-control" />
              </div>
              <div class="form-group">
               
                  <select class="form-control">
                      <option> Choisir la Session </option>
                    </select>
              </div>
           
        
        </div>
        <div class="card-footer">
          <a class="btn btn-secondary btn-sm" id="add_more"><i class="fa fa-times"></i> Annuler </a>
          <button class="btn btn-success btn-sm float-right submit_btn"><i class="fa fa-plus"></i> Commander</button>
        </div>
      </form>
      </div>
    </div>
    </div>