
<div class="container">
        
  <header class="jumbotron my-4">
    	<div class="wrapper row">
      <div class="preview col-md-6">
    <h1 class="display-3">{{aventure.title}}</h1>
    <img src="{{aventure.image}}" class="img-fluid" alt="">
</div>
<div class="details col-md-6">
    <p class="lead">
      <span>Prix : {{aventure.price}} €</span>
    </p>

    <p class="lead font-weight-bold">Description : </p>

    <p>{{aventure.description}}</p> 
    <form class="d-flex justify-content-left">
      <!-- Default input -->
      <button class="btn btn-primary btn-md my-0 p" [routerLink]="['/addCommande', aventure.id]"  type="submit">Commander
        <i class="fa fa-shopping-cart ml-1"></i>
      </button>
     

    </form>
</div>
</div>
   

  <hr>

 <!--  <h3 class="display-3">Commentaires :</h3>
 -->
    <app-commentaire></app-commentaire>

  </header>

</div>
